.qrContainer{
  padding: 20px;
}

.buttonContainer{
  padding-left: 50px;
}

.headContainer{
  padding: 20px;
}

.mainContainer{
  background-color:  #27ae60 ;
  display: grid;
  border-radius: 5px;
  justify-content: center;
}

.qrscancontainer{
  padding-top: 20px;
  margin-left: 500px;
}